.home-slider-sn{
	.slick-track{
		height:90vh;
	}
}

.home-hero-info-box{
	padding:0 15px;
/*	box-shadow: 0px 0px 70px -16px rgba(177, 177, 179, 1);*/
	width:100%;
	background: #fff;
	

	.info-box-inner{
		border:1px solid $gold;
		padding:60px 45px;
		min-height:90vh;
	}
}
@keyframes fadeInRight {
   0% {
      opacity: 0;
      transform: translateX(60px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
} 
.line-left-margin{
	width:100px;
	margin-right: 0;
	background: $red;
	height: 3px;
	animation: fadeInRight 2s ease-in-out forwards;
}