h1,h2,h3,h4,h5,h6,p,th,td,input,button,li,a{
	font-family: 'Nunito', sans-serif;
}
h1{
	font-size: 32px;
	font-weight: 700;
}
p{
	font-size: 18px;
}
.list-style-none{
	list-style: none; 
}
.color-black{
	color:$black;
}
.color-gold{
	color:$gold !important;
}
.light-grey{
	color: $light-grey;
}
.b-none{
	border:0 !important;
}
.thead-dark-sn{
	th{
		background: $black !important;
		color:#fff;
	}
}
.heading-underline-sn{
	position: relative;

	&::after{
		content:'';
		width:100px;
		height: 3px;
		background: $red;
		border-radius: 3px;
		display: block;
		margin-top: 20px;
	}
}

.btn-main-sn{
	@include el-center;
	width:100%;
	height: 55px !important;
	max-width: 200px;
	font-size: 14px;
	text-transform: uppercase;
	background: $black;
	color:#fff;
	transition:0.4s;

	.btn-arrow{
		color:#fff;
		font-size: 12px;
	}
	.btn-arrow{
		transition: 0.5s;
	}

	&:hover{
		text-decoration: none;
		color:#fff;

		.btn-arrow{
			margin-left: 5px;
		}
	}

}

.btn-long-sn{
	max-width: 360px !important; 
}
.b-radius-none{
	border-radius: 0 !important;
}
.btn-gold{
	background: $gold;

	&:hover{
		background: $gold-hover;
	}
}
.min-w-300{
	min-width: 300px;
}

.btn-black{
	background: $black;
}
.btn-red{
	background: $red !important;
}
.btn-black:hover{

}
.btn-red:hover{
	background: $red-hover !important;
}

/*Datatables*/
.dataTables_wrapper{
	padding:20px;
	border:1px solid $light-grey; 
}

.dog-list-warpper{
	min-height: 70vh;
}

.table-dog-info{
	th{
		background: rgba(0,0,0,.03);
	}
}

.bg-black{
	background: $black;
} 
.bg-light-grey{
	background: #eee;
}  

.table-bordered{
	border: 1px solid #888 !important;

	td,th{
		border: 1px solid #888 !important;     
	}
}

.tabs-wrapper-sn{
	button.active{
		background: $red !important;
	}
}

.max-w-500{
	max-width: 500px;
	width:100%;
}
.dropdown-bottom-bordered{
	width: 100%;
    max-width: 350px;
    color: #231f20;
    background: rgba(0,0,0,0);
    font-size: 18px;
    font-weight: 600;
    // text-align: center;
    border:0;
    border-bottom: 2px solid $black;
    margin: 0 auto;
    margin-top: 30px;
    outline: 0;
    margin-bottom: 20px;
    border-radius: 0 !important;
}

.modal{
	z-index: 9999999;
}